<!DOCTYPE html>
<html>
<head>
<title>Songuuli 2020</title>
</head>
<body>
<h3>{{ data.title }}</h3>

<p style="color:red;">Тааврыг УБ цагаар <b>2020 оны 6 сарын 24 өдрийн 22:00 цаг</b> хүртэл авна.</p>

<br>
<form action="/hello">
  <label for="username">Таны нэр: </label>
  <input type="text" id="username" name="username"><br><br>

  <label for="comment">Тааврын төрөл: </label><br>

  <input type="radio" id="ub" name="region" value="ub" checked>
  <label for="ub">Улаанбаатар</label><br>

  <input type="radio" id="mn" name="region" value="mn">
  <label for="mn">улс даяар</label><br><br>

  <input type="submit" value="Нэвтрэх"/>
</form>
<br>

Заавар:
<ul>
  <li>Улс төрийн хүчний авах суудлыг мандатын тоонд тааруулан бөглөнө.</li>
  <li>Тааварт дахин оролцох боломжгүй.</li>
</ul>

<hr>

Тааврын үр дүнг сонирхоё
<br>
<br>
<form action="/results">
  <label for="results">Улаанбаатар -> </label>
  <input type="submit" name="region" value="ub"/><br><br>
  <label for="results">Улс даяар -> </label>
  <input type="submit" name="region" value="mn"/>
</form>
</body>
</html>
