<!DOCTYPE html>
<html>
<head>
<title>Songuuli 2020</title>
</head>
<body>
<h3>{{ data.title }}</h3>

<p style="color:red;">Тааварт оролцсон сонирхогчдод баярлалаа!</p>

Сонгуулийн албан ёсны үр дүнг батлагдсаны дараа тааврын хүснэгтэд нэмнэ.

<hr>

Тааврын үр дүнг сонирхоё
<br>
<br>
<form action="/results">
  <label for="results">Улаанбаатар -> </label>
  <input type="submit" name="region" value="ub"/><br><br>
  <label for="results">Улс даяар -> </label>
  <input type="submit" name="region" value="mn"/>
</form>
</body>
</html>
